<div ng-include="'partials/navbar'" class='x-navbar'></div>
        <!-- 新版教学步骤 -->
<div ng-include="'partials/teachStep'"></div>

<div>
    I don't Know U
</div>


<div class="row" >
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div>
            <div class="ih-item circle colored effect1">
                <a href="#">
                    <div class="spinner"></div>
                    <div class="img"><img src="images/MrZhu.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>新 版本</h3>
                            <p>@Mr zhu</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

